body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-decoration: none;
}


.home {
    min-height: 100vh;
    width: 100%;
    padding: 0px 15px;
    background-color: #333;
    background-image: url(images/mainbackgroundimg);
}

.home .home-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home .home-text h1 {
    font-size: 35px;
    color: #ffffff;
    margin: 10px 0px;
    font-weight: 400;
    animation: slideLeft 1.5s ease;
    text-align: center;
}

.home .home-text h3 {
    font-size: 60px;
    color: #fff;
    margin: 15px 0px 0px;
    font-weight: 700;
    animation: slideRight 1.5s ease;
    
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}
.social-links {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.social-links ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.social-links ul li {
    display: inline;
}

.social-links ul li a {
    display: inline-block;
    padding: 15px 15px;
}

.social-links ul li a span {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    transition: all .3s ease;
}

.social-links ul li a span:hover {
    background-color: #d63447;
    color: #ffffff;
}




.about {
    float: left;
    width: 100%;
    padding: 80px 0px;
    background-color: #fff;
}

h2.title {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    position: relative;
    letter-spacing: .5px;
}

h2.title::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    left: 50%;
    margin-left: -40px;
    top: 50px;
    background-color: #000;
}

.about .about-content {
    width: 100%;
    float: left;
}

.about .about-content .img {
    float: left;
    width: 35%;
    padding: 15px;
}

.about .about-content .img img {
    width: 100%;
}

.about .about-content .description {
    float: left;
    width: 65%;
    padding: 15px;
}

.about .about-content .description h4 {
    font-size: 20px;
    color: #000;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 400;
}

.about .about-content .description h5 {
    font-size: 25px;
    color: #000;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 600;
}

.about .about-content .description p {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    text-align: left;
    font-weight: 400;
}

#portfolio {
    float: left;
    width: 100%;
    padding: 50px 0px;
    background-color: #e6e6e6;
}

.portfolio img{
    width: 100%;
}

.portfolio .portfolio-content {
    float: left;
    width: 100%;
}

/* .portfolio .portfolio-content .card {
  float: left;
    width: 33.33%;
    padding: 15px;
    margin: auto;
    cursor: pointer;
} */

/* .portfolio .portfolio-content .card .box img {
    width: 100%;
} */

#contact {
    float: left;
    width: 100%;
    padding: 50px 0px;
    background-color: #d9d9d9;
}

.content {
    float: left;
    width: 100%;
}

.content .box {
    width: 33.33%;
    float: left;
    padding: 15px;
    text-align: center;

}

.content .box .icon span {
    color: #000;
    font-size: 30px;
}

.content .box h4 {
    font-size: 16px;
    color: #000;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0 0px;
}

.content .box p {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    font-weight: 400;
    padding: 10px 0;
    margin: 0px;
}



footer {
    float: left;
    width: 100%;
    background-color: #292929;
    color: #ffffff;
    padding: 50px 0px;
    text-align: center;
}


@media(max-width: 768px) {
    
    .about .about-content .img {
        width: 100%;
    }

    .about .about-content .description {
        width: 100%;
    }


    .portfolio .portfolio-content .card {
        width: 50%;
    }

    

    .portfolio .portfolio-content .card {
        width: 100%;
    }

    .content .box {
        width: 100%;
    }
}

